Flask==2.2.5
Flask-Cors==3.0.10
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
tensorflow==2.21.0
# tensorflow-cpu==2.11.0
numpy>=1.24
Werkzeug==2.2.4
psycopg2-binary>=2.9
Pillow>=9.0.0
python-dotenv>=1.0
cloudinary>=1.32.0
gdown>=4.6.4
gunicorn==20.1.0
